@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top, #557314, #77A612);
    background-attachment: fixed;
}

main {
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3d530fa2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #445925;
    text-align: center;
    text-shadow: 1px 1px 1px #2833169a;
}

h2 {
    color: #77A612;
}

p {
    text-align: justify;
}

