@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100%;
    background-color: darkgrey;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(50, 50, 50);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.227);
    width: 400px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}